body{
    background-color: #1c1c1c;
    width:700px;
    margin:auto;
    text-align: center;
    
}
hr{
    color: aqua;
    width: 760px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    width: 400px;
    height: 300px;
}